.search input {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 90%;
  border-radius: 8px;
}

.search button {
  margin-left: -2.5rem;
  background-color: transparent;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.input-simple input{
  padding: 0.3rem 0.55rem;
  margin: 0.2rem 0;
  border-radius: 5px;
  border: 1px solid var(--color-dark-gray);
  font-size: 0.95rem;
}

.input-value {
  margin: 0.8rem 0;
  align-items: center;
}

.input-value input,
.input-value span{
  border: 1px solid var(--color-dark-gray);
  padding: 0.3rem 1rem;
  border-radius: 5px;
  width: 8rem;
  font-size: 1rem;
}

.input-value span{
  background-color: var(--color-light-gray);
  color: var(--color-dark-gray)
}