:root {
  --color-theme: #0A2769;
  --color-light-theme: #1b84da;

  --color-primary: #0035B5;
  --color-secondary:#446905;
  --color-tertiary:#CD2E12;
  --color-yellow:#c07504;

  --color-black: #000;
  --color-white: #fff;
  --color-light-gray:#eee;
  --color-dark-gray:#222
}

main {
  overflow-y: scroll;
  justify-content: center;
  height: 100vh;
}


main > div {
  margin: 20px;
}

body {
  margin: 0;
  background-color:  var(--color-light-gray);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

.card {
  margin: 1rem;
  padding: 1.5rem 3rem;
  margin-bottom: 2rem;
  background-color:  var(--color-white);
  border-radius: 8px;
  border: 0;
  box-shadow: 0 0 3px #777777;
}

.button {
  font-size: 1rem;
  padding: 0.6rem 1rem;
  margin: 0.3rem;
  border: 1px solid #aaa;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
}

.link-back{
  text-decoration: none;
  color: var(--color-theme);
}

.button-small {
  font-size: 0.8rem;
  padding: 0.4rem 0.7rem;
}

.button-danger {
  background-color: var(--color-tertiary);
  color: var(--color-white);
  border: none;
  transition: opacity 20ms;
}

.button-danger:hover {
  opacity: 0.8;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}


.flex-1 { 
  flex: 1;
}

.flex-2 { 
  flex: 2;
}

.flex-3 { 
  flex: 3;
}

.flexRow { 
  flex-direction: row;
}

.full-width { width: 100%; }

.flexColumn { 
  flex-direction: column;
}
