:root {
  --color-theme: #0A2769;
  --color-light-theme: #1b84da;

  --color-primary: #0035B5;
  --color-secondary:#446905;
  --color-tertiary:#CD2E12;
  --color-yellow:#c07504;

  --color-black: #000;
  --color-white: #fff;
  --color-light-gray:#eee;
  --color-dark-gray:#222
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.flex-1 { 
  flex: 1;
}

.flex-2 { 
  flex: 2;
}

.flex-3 { 
  flex: 3;
}

.flexRow { 
  flex-direction: row;
}

.flexColumn { 
  flex-direction: column;
}
